@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*
{
padding: 0px; 
margin: 0px; 
font-family: Ubuntu,sans-serif;
font-size: 18px;

}

.main_header
{
width: 100%; 
background: black; 
padding-top: 10px
}


.logo
{
font-size:20px; 
color: white;
width: 67%; 
text-align: center;
margin: 5px auto;
font-weight: bolder;
padding: 13px 0px

}

.menu
{
width: 70%; 
margin: 20px auto;
text-align: center;
position: relative;
}

.usl
{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 80%;
    color: #CC009E;


}

#tab .usl a
{
	 color: #000;
	 text-transform: none;
}

#tab .usl a:hover
{
    color: #0000FF
}



.table
{
	width: 100%; 
	height: 200px;
	position: absolute;
	background: white; 
	top: -400px;
	z-index: 3;
	transition: 0.3s ease;
	border-top: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px -2px 10px gray
}

#close1
{
	position: absolute;
	right: 30px; 
	top: 30px;
	cursor: pointer;
	color: #CC009E;
	font-size: 25px

}


.menu a
{
   font-size: 18px;
   vertical-align: middle;
   text-transform: uppercase;

}

.btn
{
box-sizing: border-box;
margin: 0px 20px;
color: black; 
text-decoration: none;
border-bottom: 1px solid white;
transition: 0.5s ease
}


.btn:hover
{
border-bottom: 1px solid black
}

.container
{
margin: 5px 0px;
width: 100%;
}

.item h4
{
padding: 50px; 
text-align: center;
font-size: 45px; 
color: #000;
font-weight: bolder;
}

.item h4 NOBR
{
font-size: 50px
}

.owl-carousel .item 
{

min-height: 300px;
width: 101%;
padding: 0px; 
margin: 0px
}



.container .bl
{
background: linear-gradient(to bottom, #FF2400, #CD0095) no-repeat center center/100%;
width: 100%;
border: 0px;
padding: 0px;
}




.bl2
{
background: linear-gradient(to bottom, #FF2400, #CD0095) no-repeat center center/100%;
width: 100%;
border: 0px;
padding: 0px;
}


.call
{
	position: fixed;
	bottom: 30px; 
	right: 30px;
	padding: 14px 20px;
	padding-left: 35px;
	color: black;
	border-radius: 30px; 
	font-size: 15px; 
	z-index: 1; 
	text-align: center;
	background:lightgray url(../img/conv.png) no-repeat 10% center/15%;
	cursor: pointer;
	display: none;
}

.mobil-menu
{
    display: none;
}

.lending
{
	display: flex;
	padding: 50px;
	width: 100%; 
	flex-direction: row;
	justify-content: space-around;
	box-sizing: border-box;
}

.lending h2
{
	font-size: 45px; 
	background:linear-gradient(to top, #CC009E, #FF007E); 
	background-repeat: no-repeat;
	background-position: 0% 220%;
	background-size: 100% 80%; 
	color: #0E0E0E;



}


.lendbtn
{
	padding: 10px 25px; 
	background: #0E0E0E; 
	color: white; 
	font-size: 18px; 
	border: 0px; 
	border-radius: 2px; 
	cursor: pointer;
	transition: 0.3s ease;
	box-shadow: 0px 0px 10px #0E0E0E;
	text-decoration: none;


}

.btns
{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 50%;
margin-top: 20px
}

.lendbtn:hover
{
	background: black;
	box-shadow: 0px 0px 10px #CC009E
}

.leftlend 
{
	width: 40%; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	
	padding: 20px
}




.lending p
{
	font-size: 20px; 
    width: 40%;
    font-weight: bold;
    color: #0E0E0E
  
}


.teaser span
{
	text-align: center;
	font-size: 20px; 
	color: #0E0E0E; 
}

.teaser 
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50%; 
	margin: 10px auto;
	margin-bottom: 100px
}

.teaser img
{
	height: auto;
	width: 75%
}



.tabs
{
	width: 50%; 
	margin: 0 auto; 
	min-height: 100px; 
	background: red;
	padding: 20px;
	box-sizing: border-box;
	margin: 10px 
}

.tab
{
	background: white; 
	width: 200px;
	padding: 20px
}

#f, #s, #t, #fo
{
	display: none;
	
}

#f
{
	display: block;
}

.gray
{
	background: #DDDDDD
}


@media screen and (max-width: 1000px)
{
    .mobil-menu
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 15px;
    vertical-align: middle;
}
    .mobil-menu a
    {
    	width: 100%; 
    	background: black; 
        color: white; 
        text-decoration: none;
        font-size: 14px; 
        padding: 10px 15px;
        border-bottom: 1px solid lightgray;
        display: none;


    }
    .menu
    {
    	display: none;
    }

    .mobil-menu .mbtn
    {
    	display: block;

    }



    .burger
    {
    	width: 25px; 
    	height: 1.5px; 
    	background: white; 
    	border-radius: 20px; 
    	margin: 2px 0px;
    	transition: 1s ease;

    }

    .burgers
    {
    	display: inline-block;
    	text-align: center;
    }

    #mbtn
    {
    	font-size: 20px;
    	display: inline-block;
    	transition: 0.4s
    }

    .btn
    {
    	transition: 0.4s
    }

    .item h4
    {
    	font-size: 30px;
    	padding:30px 10px
    }

    .item h4 NOBR
    {
    font-size: 30px	
    }

    .owl-carousel .item 
	{

	min-height: 200px;
	width: 101%;
	padding: 10px 0px; 
	margin: 0px;
	text-align: center;
	}

	.leftlend
	{
		width: 100%; 
		overflow: visible;
	}

	.bull
	{
		display: none;

	}

	.leftlend h2
	{
		font-size: 32px; 
		margin-bottom: 30px; 
		overflow: auto;
	}

	.lending
	{
		flex-direction: column;
		padding: 10px
	}

	.lending p
	{
		width: 100%;
		padding: 20px 0px;
		font-size: 15px
	}

	.teaser 
    {
	display: none;
    }

	.leftlend .btns
	{
	display: flex;
	flex-direction: row;
	justify-content: center;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin: 0px; 
    
    }
    
    .lendbtn
    {
       width: 100px;
       margin: 20px

    }


}
